@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden !important;
  color: #6a6a6a;
  position: absolute;
}

a {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

button {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 575.98px) {
  .container {
    --bs-gutter-x: 2rem;
  }
}

.section {
  padding: 7rem 0;
}

@media (max-width: 990.98px) {
  .section {
    padding: 5rem 0;
  }
}

@media (max-width: 575.98px) {
  .section {
    padding: 4rem 0;
  }
}

.primary-btn {
  background: #1a9bdc;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
  border: none;
}

.primary-btn:hover {
  background: #262626;
  color: #fff;
}

.section-title {
  font-size: 3.5rem;
  font-weight: 700;
  text-align: center;
  color: #494949;
}

@media (max-width: 990.98px) {
  .section-title {
    font-size: 3rem;
  }
}

@media (max-width: 767.98px) {
  .section-title {
    font-size: 2.3rem;
  }
}

.section-desc {
  width: 80%;
  margin: auto;
  text-align: center;
  margin-top: 1rem;
}

.top-navbar {
  border-bottom: 1px solid #ececec;
}

.top-navbar .top-navbar-element .icon-wrapper {
  width: 4rem;
  height: 4rem;
  background: #1a9bdc;
  border-radius: 50%;
}

.top-navbar .top-navbar-element .icon-wrapper i {
  font-size: 2rem;
  position: relative;
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin-top: 1rem;
}

.top-navbar .top-navbar-element p {
  font-size: 1.3rem;
  line-height: 1;
}

.top-navbar .top-navbar-element span {
  font-size: 1.3rem;
}

@media (max-width: 990.98px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.navbar .navbar-toggler {
  width: 4rem;
  height: 3rem;
  padding: 0;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  width: 80%;
  height: 80%;
}

.navbar .navbar-nav .nav-link {
  color: #6c6c6c;
  font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link:active, .navbar .navbar-nav .nav-link:focus {
  color: #1a9bdc;
}

@media (max-width: 990.98px) {
  .navbar .navbar-nav .nav-link {
    margin: 0.7rem 0 !important;
  }
}

.navbar .navbar-social-icons .social-icon {
  color: #191919;
  font-size: 1.8rem;
}

.navbar .navbar-social-icons .social-icon:hover {
  color: #1a9bdc;
}

.hero-section {
  height: 50rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0))), url(../assets/hero-img.png);
  background: -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../assets/hero-img.png);
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(../assets/hero-img.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (max-width: 575.98px) {
  .hero-section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url(../assets/hero-img.png);
    background: -o-linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../assets/hero-img.png);
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url(../assets/hero-img.png);
    background-position: 65% 80%;
    background-size: cover;
  }
}

.hero-section .hero-text {
  padding: 10rem 0;
}

.hero-section .hero-text .hero-title {
  font-size: 4rem;
  font-weight: 700;
  color: #494949;
}

@media (max-width: 990.98px) {
  .hero-section .hero-text .hero-title {
    font-size: 3rem;
    width: 60%;
  }
}

@media (max-width: 990.98px) {
  .hero-section .hero-text .hero-title {
    font-size: 3rem;
    width: 60%;
  }
}

@media (max-width: 767.98px) {
  .hero-section .hero-text .hero-title {
    width: 75%;
  }
}

@media (max-width: 575.98px) {
  .hero-section .hero-text .hero-title {
    font-size: 2.5rem;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 990.98px) {
  .hero-section .hero-text .hero-desc {
    width: 60%;
  }
}

@media (max-width: 767.98px) {
  .hero-section .hero-text .hero-desc {
    width: 70%;
  }
}

@media (max-width: 575.98px) {
  .hero-section .hero-text .hero-desc {
    width: 100%;
    text-align: center;
  }
}

.specialty-section .treatment {
  background: #43b1d2;
}

.specialty-section .treatment i {
  color: #1a9bdc;
}

.specialty-section .emergency {
  background: #3fb6c6;
}

.specialty-section .emergency i {
  color: #3fb6c6;
}

.specialty-section .stuff {
  background: #3cbbbb;
}

.specialty-section .stuff i {
  color: #3cbbbb;
}

.specialty-section .doctor {
  background: #37c3a8;
}

.specialty-section .doctor i {
  color: #37c3a8;
}

.specialty-section .icon-wrapper {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1rem;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 990.98px) {
  .specialty-section .icon-wrapper {
    width: 5rem;
    height: 5rem;
  }
}

.specialty-section .icon-wrapper i {
  font-size: 3rem;
}

@media (max-width: 990.98px) {
  .specialty-section .icon-wrapper i {
    font-size: 2.5rem;
  }
}

.specialty-section .specialty-title {
  font-size: 2rem;
}

.why-us-section {
  margin-top: 7rem;
}

@media (max-width: 990.98px) {
  .why-us-section {
    margin-top: 5rem;
  }
}

.why-us-section .icon-wrapper {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  background: #1a9bdc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 990.98px) {
  .why-us-section .icon-wrapper {
    width: 5rem;
    height: 5rem;
  }
}

@media (max-width: 767.98px) {
  .why-us-section .icon-wrapper {
    width: 4rem;
    height: 4rem;
  }
}

@media (max-width: 575.98px) {
  .why-us-section .icon-wrapper {
    width: 6rem;
    height: 6rem;
  }
}

.why-us-section .icon-wrapper i {
  font-size: 3rem;
  color: #fff;
}

@media (max-width: 990.98px) {
  .why-us-section .icon-wrapper i {
    font-size: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  .why-us-section .icon-wrapper i {
    font-size: 2rem;
  }
}

@media (max-width: 575.98px) {
  .why-us-section .icon-wrapper i {
    font-size: 3rem;
  }
}

.why-us-section .service-title {
  font-size: 2.5rem;
}

@media (max-width: 1199.98px) {
  .why-us-section .service-title {
    font-size: 2.1rem;
  }
}

@media (max-width: 990.98px) {
  .why-us-section .service-title {
    font-size: 2.4rem;
  }
}

@media (max-width: 767.98px) {
  .why-us-section .service-title {
    font-size: 1.8rem;
  }
}

.summery-section {
  background-image: url(../assets/summery-bg.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.summery-section .summery-icon {
  font-size: 5rem;
  margin: 1rem;
}

@media (max-width: 990.98px) {
  .summery-section .summery-icon {
    font-size: 4rem;
  }
}

@media (max-width: 767.98px) {
  .summery-section .summery-icon {
    font-size: 3.5rem;
  }
}

.summery-section h2 {
  font-size: 4rem;
  position: relative;
}

@media (max-width: 990.98px) {
  .summery-section h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 767.98px) {
  .summery-section h2 {
    font-size: 2rem;
  }
}

.summery-section h2::after {
  position: absolute;
  content: '';
  width: 5rem;
  bottom: -1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.3rem;
  background: #fff;
}

@media (max-width: 767.98px) {
  .summery-section h2::after {
    bottom: -1rem;
    height: 0.1rem;
  }
}

.summery-section .summery-text {
  font-size: 2rem;
}

@media (max-width: 990.98px) {
  .summery-section .summery-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 767.98px) {
  .summery-section .summery-text {
    font-size: 1.7rem;
  }
}

.blog-section .blog-wrapper {
  margin-top: 5rem;
}

.blog-section .blog-wrapper .blog-title {
  color: #6a6a6a;
}

@media (max-width: 990.98px) {
  .blog-section .blog-wrapper .blog-title h3 {
    font-size: 2rem;
  }
}

.blog-section .blog-wrapper .blog-title:hover {
  color: #1a9bdc;
}

.blog-section .blog-wrapper .blog-info {
  color: #1a9bdc;
  font-weight: 700;
  font-size: 1.3rem;
}

.blog-section .accordion {
  border-radius: 30px !important;
}

.blog-section .accordion .accordion-item {
  border: none;
}

.blog-section .accordion .accordion-item .accordion-button {
  background: #1a9bdc;
  color: #fff;
  margin: 1rem 0;
}

.blog-section .accordion .accordion-item .accordion-button::after {
  display: none;
}

.blog-section .accordion .accordion-item .accordion-button.collapsed {
  background: #e2e2e2;
  color: #6a6a6a;
}

.gallery-section {
  background-image: url(../assets/gallery-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.our-doctors-section .doctor-social-icons .social-icon {
  font-size: 3rem;
  color: #6a6a6a;
}

.our-doctors-section .doctor-social-icons .social-icon:hover {
  color: #1a9bdc;
}

.special-offer {
  background: #e2e2e2;
}

.special-offer .offer-text {
  font-size: 2rem;
}

@media (max-width: 990.98px) {
  .special-offer .offer-text {
    font-size: 1.8rem;
  }
}

@media (max-width: 767.98px) {
  .special-offer .offer-text {
    font-size: 1.6rem;
  }
}

.to-top {
  height: 4rem;
  width: 4rem;
  background: #1a9bdc;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  bottom: -10rem;
  right: 2rem;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

@media (max-width: 575.98px) {
  .to-top {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.4rem;
  }
}

.to-top:hover {
  background: #262626;
}

footer {
  padding-top: 7rem;
  background: #171717;
  color: #8d8d8d;
}

footer .footer-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #fff;
}

footer a {
  color: #8d8d8d;
}

footer a:hover {
  color: #1a9bdc;
}

footer .footer-icon-wrapper {
  margin-right: 1rem;
  min-width: 40px;
  text-align: center;
}

footer .footer-icon-wrapper .footer-icon {
  font-size: 30px;
}

footer .footer-social-icons .social-icon {
  color: #fff;
  font-size: 2.5rem;
}

footer .footer-social-icons .social-icon:hover {
  color: #1a9bdc;
}

footer li {
  position: relative;
  margin: 1rem 0 1rem 1.5rem;
}

@media (max-width: 575.98px) {
  footer li {
    margin: 1.5rem;
  }
}

footer li::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 0.6rem solid transparent;
  border-bottom: 0.6rem solid transparent;
  border-left: 0.6rem solid #1a9bdc;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -1.5rem;
}

footer .footer-form input[type=text],
footer .footer-form textarea {
  padding: 1rem 0;
  border: none;
  border-bottom: 1px solid #6a6a6a;
  background: transparent;
  width: 100%;
  color: #fff;
}

footer .footer-form input[type=text]:focus,
footer .footer-form textarea:focus {
  outline: none;
}

footer .copyright {
  padding: 2rem;
  margin-top: 5rem;
  background: #1a1a1a;
}
