@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Open+Sans:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 65.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden !important;
}

a {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
}

button {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

section {
  padding: 7rem 0;
}

@media (max-width: 575.98px) {
  section {
    padding: 4rem 0;
  }
}

.primary-btn {
  background: #1a9bdc;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 1rem 2.5rem;
  border-radius: 3rem;
  -webkit-box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.2);
  border: none;
}

.primary-btn:hover {
  background: #262626;
  color: #fff;
}

@-webkit-keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}

@keyframes fadeInTop {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  0% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInBottom {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadeInBottom {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.top-navbar {
  border-bottom: 1px solid #ececec;
}

.top-navbar .top-navbar-element .icon-wrapper {
  width: 4rem;
  height: 4rem;
  background: #1a9bdc;
  border-radius: 50%;
}

.top-navbar .top-navbar-element .icon-wrapper i {
  font-size: 2rem;
  position: relative;
  width: 4rem;
  height: 4rem;
  color: #fff;
  margin-top: 1rem;
}

.top-navbar .top-navbar-element p {
  font-size: 1.3rem;
  line-height: 1;
}

.top-navbar .top-navbar-element span {
  font-size: 1.3rem;
}

.navbar-nav .nav-link {
  color: #6c6c6c;
  font-weight: 500;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link:active, .navbar-nav .nav-link:focus {
  color: #1a9bdc;
}

.navbar-social-icons .social-icon {
  color: #191919;
  font-size: 1.8rem;
}

.navbar-social-icons .social-icon:hover {
  color: #1a9bdc;
}

.hero-section {
  height: 50rem;
  background-image: url(../assets/hero-img.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.hero-section .hero-text {
  padding: 10rem 0;
  border-radius: 50%;
}

.hero-section .hero-text .hero-title {
  font-size: 4rem;
  font-weight: 700;
}
