// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Colors
$primary-color: #1a9bdc;
$secondary-color: #262626;
$navlink-color: #6c6c6c;
$navbar-social-icon: #191919;
$topnav-text-color: #6a6a6a;
$topnav-divider-color: #ececec;
$title-color: #494949;
$text-color: #6a6a6a;
$accordion-bg: #e2e2e2;
$footer-bg: #171717;
$footer-text-color: #8d8d8d;
$copyright-bg: #1a1a1a;
$copyright-text-color: #615555;

