@import '_reset';
@import '_animations';

// Navbar CSS Start
.top-navbar {
    border-bottom: 1px solid $divider-color;
    .top-navbar-element {
        .icon-wrapper {
            width: 4rem;
            height: 4rem;
            background: $primary-color;
            border-radius: 50%;
            i {
                font-size: 2rem;
                position: relative;
                width: 4rem;
                height: 4rem;
                color: #fff;
                margin-top: 1rem;
            }
        }
        p {
            font-size: 1.3rem;
            line-height: 1;
        }
        span {
            font-size: 1.3rem;
        }
    }
}
.navbar {
    // Responsive CSS
    @include mq (990.98px) {
            position: fixed;
            top: 0;
            width: 100%;
    }
    .navbar-toggler{
        width: 3rem;
        height: 2.5rem;
        padding: 0;
        &:focus {
            box-shadow: none;
        }
    }
    // .bar {
    //     width: 3rem;
    //     height: 0.2rem;
    //     background: #000;
    //     position: relative;
    //     border-radius: 0.5rem;
    //     &::before {
    //         content: '';
    //         position: absolute;
    //         bottom: 10px;
    //         left: 0;
    //         width: 100%;
    //         height: 0.2rem;
    //         background: #000;
    //         border-radius: 0.5rem;
    //     }
    //     &::after {
    //         content: '';
    //         position: absolute;
    //         top: 10px;
    //         left: 0;
    //         width: 100%;
    //         height: 0.2rem;
    //         background: #000;
    //         border-radius: 0.5rem;
    //     }
    // }
    .navbar-nav {
        .nav-link {
            color: $navlink-color;
            font-weight: 500;
            &:hover,
            &:active,
            &:focus {
                color: $primary-color;
    
            }
            @include mq (990.98px) {
                margin: 0.7rem 0 !important;
            }
        }
    }
    .navbar-social-icons {
        .social-icon {
            color: $navbar-social-icon;
            font-size: 1.8rem;
            &:hover {
                color: $primary-color;
            }
        }
    }
}
// Navbar CSS End

// Hero Section CSS Start
.hero-section {
    height: 50rem;
    background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,0)), url(../assets/hero-img.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include mq (575.98px) {
        background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url(../assets/hero-img.png);
        background-position: 65% 80%;
        background-size: cover;
    }
    .hero-text {
        padding: 10rem 0;
        .hero-title {
            font-size: 4rem;
            font-weight: 700;
            color: $title-color;
            @include mq (990.98px) {
                font-size: 3rem;
                width: 60%;
            }
            @include mq (990.98px) {
                font-size: 3rem;
                width: 60%;
            }
            @include mq (767.98px) {
                width: 75%;
            }
            @include mq (575.98px) {
                font-size: 2.5rem;
                width: 100%;
                text-align: center;
            }
        }
        .hero-desc {
            @include mq (990.98px) {
                width: 60%;
            }
            @include mq (767.98px) {
                width: 70%;
            }
            @include mq (575.98px) {
                width: 100%;
                text-align: center;
            }
        }
    }
}
// Hero Section CSS End

// Specialty Section CSS Start
.specialty-section {
    .treatment {
        background: #43b1d2;
        i {
            color: $primary-color;
        }
    }
    .emergency {
        background: #3fb6c6;
        i {
            color: #3fb6c6;
        }
    }
    .stuff {
        background: #3cbbbb;
        i {
            color: #3cbbbb
        }
    }
    .doctor {
        background: #37c3a8;
        i {
            color: #37c3a8;
        }
    }
    .icon-wrapper {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mq (990.98px) {
            width: 5rem;
            height: 5rem;
        }
        i {
            font-size: 3rem;
            @include mq (990.98px) {
                font-size: 2.5rem;
            }
        }
    }
    
    .specialty-title {
        font-size: 2rem;
    }
    
}
// Specialty Section CSS End

// Why Us Section CSS Start
.why-us-section {
    margin-top: 7rem;
    @include mq (990.98px) {
        margin-top: 5rem;
    }
    .icon-wrapper {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin-bottom: 1rem;
        background: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        @include mq (990.98px) {
            width: 5rem;
            height: 5rem;
        }
        @include mq (767.98px) {
            width: 4rem;
            height: 4rem;
        }
        @include mq (575.98px) {
            width: 6rem;
            height: 6rem;
        }
        i {
            font-size: 3rem;
            color: #fff;
            @include mq (990.98px) {
                font-size: 2.5rem;
            }
            @include mq (767.98px) {
                font-size: 2rem;
            }
            @include mq (575.98px) {
                font-size: 3rem;
            }
        }
    }
    .service-title {
        font-size: 2.5rem;
        @include mq (1199.98px) {
            font-size: 2.1rem;
        }
        @include mq (990.98px) {
            font-size: 2.4rem;
        }
        @include mq (767.98px) {
            font-size: 1.8rem;
        }
    }
}
// Why Us Section CSS End

// Summery Section CSS Start
.summery-section {
    background-image: url(../assets/summery-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .summery-icon {
        font-size: 5rem;
        margin: 1rem ;
        @include mq (990.98px) {
            font-size: 4rem;
        }
        @include mq (767.98px) {
            font-size: 3.5rem;
        }
    }
    h2 {
        font-size: 4rem;
        position: relative;
        @include mq (990.98px) {
            font-size: 2.5rem;
        }
        @include mq (767.98px) {
            font-size: 2rem;
        }
        &::after {
            position: absolute;
            content: '';
            width: 5rem;
            bottom: -1.5rem;
            left: 50%;
            transform: translateX(-50%);
            height: 0.3rem;
            background: #fff;
            @include mq (767.98px) {
                bottom: -1rem;
                height: 0.1rem;
            }
        }
    }
    .summery-text {
        font-size: 2rem;
        @include mq (990.98px) {
            font-size: 1.8rem;
        }
        @include mq (767.98px) {
            font-size: 1.7rem;
        }
    }
}
// Summery Section CSS End

// Blog Section CSS Start
.blog-section {
    .blog-wrapper {
        margin-top: 5rem;
        .blog-title {
            color: $text-color;
            &:hover {
                color: $primary-color;
            }
        }
        .blog-info {
            color: $primary-color;
            font-weight: 700;
            font-size: 1.3rem;
        }
    }
    .accordion {
        border-radius: 30px !important;
        .accordion-item {
            border: none;
            .accordion-button {
                background: $primary-color;
                color: #fff;
                margin: 1rem 0;
                &::after {
                    display: none;
                }
            }
            .accordion-button.collapsed {
                background: $accordion-bg;
                color: $text-color
            }
        }
    }
}
// Blog Section CSS End

// Gallery Section CSS Start
.gallery-section {
    background-image: url(../assets/gallery-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
// Gallery Section CSS End

// Our Doctors Section CSS Start
.our-doctors-section {
    .doctor-social-icons {
        .social-icon {
            font-size: 3rem;
            color: $text-color;
            &:hover {
                color: $primary-color;
            }
        }
    }
}
// Our Doctors Section CSS End

// Special Offer Call to Action CSS Start
.special-offer {
    background: $accordion-bg;
    .offer-text {
        font-size: 2rem;
        @include mq (990.98px) {
            font-size: 1.8rem;
        }
        @include mq (767.98px) {
            font-size: 1.6rem;
        }
    }
}
// Special Offer Call to Action CSS End

// Footer CSS Start
footer {
    padding-top: 7rem;
    background: $footer-bg;
    color: $footer-text-color;
    .footer-title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem;
        color: #fff;
    }
    a {
        color: $footer-text-color;
        &:hover {
            color: $primary-color;
        }
    }
    .footer-icon-wrapper {
        margin-right: 1rem;
        min-width: 40px;
        text-align: center;
        .footer-icon {
            font-size: 30px;
        }
    }
    .footer-social-icons {
        .social-icon {
            color: #fff;
            font-size: 2.5rem;
            &:hover {
                color: $primary-color;
            }
        }
    }
    li {
        position: relative;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
        &::before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            border-top: 0.6rem solid transparent;
            border-bottom: 0.6rem solid transparent;
            border-left: 0.6rem solid $primary-color;
            top: 50%;
            transform: translateY(-50%);
            left: -1.5rem;
        }
    }
    .footer-form {
        input[type=text],
        textarea {
            padding: 1rem 0;
            border: none;
            border-bottom: 1px solid $text-color;
            background: transparent;
            width: 100%;
            color: #fff;
            &:focus {
                outline: none;
            }
        }
    }
    .copyright {
        padding: 2rem;
        margin-top: 5rem;
        background: $copyright-bg;
    }
}
// Footer CSS End