@import '_reset';
@import '_animations';

// Navbar CSS Start
.top-navbar {
    border-bottom: 1px solid $divider-color;
    .top-navbar-element {
        .icon-wrapper {
            width: 4rem;
            height: 4rem;
            background: $primary-color;
            border-radius: 50%;
            i {
                font-size: 2rem;
                position: relative;
                width: 4rem;
                height: 4rem;
                color: #fff;
                margin-top: 1rem;
            }
        }
        p {
            font-size: 1.3rem;
            line-height: 1;
        }
        span {
            font-size: 1.3rem;
        }
    }
}
.navbar-nav {
    .nav-link {
        color: $navlink-color;
        font-weight: 500;
        &:hover,
        &:active,
        &:focus {
            color: $primary-color;

        }
    }
}
.navbar-social-icons {
    .social-icon {
        color: $navbar-social-icon;
        font-size: 1.8rem;
        &:hover {
            color: $primary-color;
        }
    }
}
// Navbar CSS End

// Hero Section CSS Start
.hero-section {
    height: 50rem;
    background-image: url(../assets/hero-img.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .hero-text {
        padding: 10rem 0;
        border-radius: 50%;
        .hero-title {
            font-size: 4rem;
            font-weight: 700;
            color: $title-color;
        }
    }
}
// Hero Section CSS End

// Specialty Section CSS Start
.specialty-section {
    .treatment {
        background: #43b1d2;
    }
    .emergency {
        background: #3fb6c6;
    }
    .stuff {
        background: #3cbbbb;
    }
    .doctor {
        background: #37c3a8;
    }
    .icon-wrapper {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin: 0 auto;
        margin-bottom: 1rem;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 3rem;
            color: $secondary-color;
        }
    }
}
// Specialty Section CSS End

// Why Us Section CSS Start
.why-us-section {
    margin-top: 7rem;
    .icon-wrapper {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        margin-bottom: 1rem;
        background: $primary-color;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            font-size: 3rem;
            color: #fff;
        }
    }
}
// Why Us Section CSS End

// Summery Section CSS Start
.summery-section {
    background-image: url(../assets/summery-bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .summery-icon {
        font-size: 5rem;
        margin: 1rem ;
    }
    h2 {
        font-size: 4rem;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            width: 5rem;
            bottom: -1.5rem;
            left: 50%;
            transform: translateX(-50%);
            height: 0.3rem;
            background: #fff;
        }
    }
}
// Summery Section CSS End

// Blog Section CSS Start
.blog-section {
    .blog-wrapper {
        margin-top: 5rem;
        .blog-title {
            color: $text-color;
            &:hover {
                color: $primary-color;
            }
        }
        .blog-info {
            color: $primary-color;
            font-weight: 700;
            font-size: 1.3rem;
        }
    }
    .accordion {
        border-radius: 30px !important;
    }
    .accordion-item {
        border: none;
    }
    .accordion-button {
        background: $primary-color;
        color: #fff;
        margin: 1rem 0;
        &::after {
            display: none;
        }
    }
}
// Blog Section CSS End

// Gallery Section CSS Start
.gallery-section {
    background-image: url(../assets/gallery-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
// Gallery Section CSS End